@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* color */
  --color-deep-purple: #482977;
  --color-bright-blue: #00aeef;

  --color-brignt-blue: #00aeef;
  --color-bright-purple: #892890;
  --color-vibrant-pink: #ed1d7e;

  --text-bright-purple: #892890;

  /* fonts */
  --font-poppins: "Poppins";
  --font-proxima: "Proxima Nova";
}

/* @font-face {
  font-family: "Proxima Nova";
  src: url("/path-to-your-font/proxima-nova.woff2") format("woff2"),
    url("/path-to-your-font/proxima-nova.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

/* root */
* {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container_lg {
  width: 90%;
  margin: 0 auto;
}
#tsparticles {
  width: 100%;
  height: 80vh;
  position: absolute;
  z-index: 10;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-btn {
  background-size: 300% 300%;
  background-image: linear-gradient(to bottom right, #ec07c7cc, #138bffcc);
  transition: background-position 0.5s ease-in-out;
  color: white;
}

.animated-gradient-btn:hover {
  background-position: right center;
}

.review-container {
  transform: translateY(-200px);
}

.reviewImg:hover .review-container {
  transform: translateY(-200px);
}
.hero-text {
  background: -webkit-linear-gradient(
    356deg,
    #0090f7,
    #ba62fc,
    #f2416b,
    #f55600
  );
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #e55d87 0%,
    #5fc3e4 51%,
    #e55d87 100%
  );
}
/* 
.btn-grad {
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
} */

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.background_linear {
  background-image: linear-gradient(
    to left,
    #892890,
    #9e2490,
    #b2208e,
    #c51c8b,
    #d71a86,
    #d73299,
    #d644ab,
    #d354bd,
    #ae73df,
    #7f8cf2,
    #489ff7,
    #00aeef
  );
}
