@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* color */
  --color-deep-purple: #482977;
  --color-bright-blue: #00aeef;

  --color-brignt-blue: #00aeef;
  --color-bright-purple: #892890;
  --color-vibrant-pink: #ed1d7e;

  --text-bright-purple: #892890;

  /* fonts */
  --font-poppins: "Poppins";
  --font-proxima: "Proxima Nova";
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/path-to-your-font/proxima-nova.woff2") format("woff2"),
    url("/path-to-your-font/proxima-nova.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* root */
/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } */

.container_lg {
  width: 90%;
  margin: 0 auto;
}
#tsparticles {
  width: 100%;
  height: 100%;
  z-index: -10;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-btn {
  background-size: 300% 300%;
  background-image: linear-gradient(to top left, #00aeef, #892890, #ed1d7e);
  transition: background-position 0.5s ease-in-out;
}

.animated-gradient-btn:hover {
  background-position: right center;
}
